<section  ng-controller="LoginController">
    <div class="container">
        <div class="row lb-screen-height">
            <div style="margin: 50px"></div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form class="form-signin" ng-submit="submit()">
                        <h4>欢迎登录</h4>
                        <div class="lb-margin-top-20"></div>
                        <div class="form-group">
                            <input  class="form-control" type="text" ng-model="email"
                                    autofocus="" required="" placeholder="邮箱账号">
                        </div>
                        <div class="form-group lb-margin-top-20">
                            <input type="hidden" name="password" id="hiddenpassword" /> <input
                                id="password" class="form-control" type="password" required=""
                                placeholder="密码" ng-model="password">
                        </div>
						<span class="checkbox"><input type="checkbox"
                                                      value="remember-me" ng-model="rememberme"><small>记住我 </small></span>
                        <button id="submit" class="btn btn-primary btn-block"
                                type="submit">登 录</button>
                        <div
                                class="form-group lb-margin-top-20 alert alert-danger alert-dismissable" data-ng-show="loginfail">
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-hidden="true">&times;</button>
                            <strong>登录失败！</strong>请检查您的用户名和密码！
                        </div>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</section>