<section  ng-controller="ResourceController">
    <div class="container">
        <h2><img ng-src="{{resource.iconurl }}" class="lb-icon"> {{resource.name }}</h2>
        <hr />
        <div class="row lb-screen-height">
            <div class="col-md-8">
                <ul class="nav nav-tabs">
                    <li><a href="#">最新动态</a></li>
                    <li class="active"><a ng-href="/lishibook/resource/{{resource.id }}">基本资料</a></li>
                    <li><a href="#">时间轴</a></li>
                    <li><a ng-href="/lishibook/resource/focus/{{resource.id }}">关注</a></li>
                </ul>
                <div ng-bind-html="resource.content"></div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">{{resource.name }} 的关注</div>
                    <div class="panel-body">
                        <ul class="media-list"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>